* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
}
.scroll-container {
  width: 80%;
  width: -webkit-calc(80% - 2px);
  width: calc(80% - 2px);
  margin: 0 auto;
}
.instagram-photo {
  background: #FFF;
  width: 99.375%;
  width: -webkit-calc(100% - 2px);
  width: calc(100% - 2px);
  max-width: 400px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  margin: 1em auto;
  padding: 0.5em;
}

.instagram-photo img {
  background: #F8F8F8;
  line-height: 0;
}
