* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
}

.instagram-photo {
  border: 5px solid white;
}
